<h1>Personen</h1>

<% if current_user and current_user.admin? then %>
  <%= link_to 'New User', new_user_path %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Homepage</th>
    <th>Password</th>
    <th>Admin</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_unless_blank("Homepage", user.homepage) %></td>
    <td><%= user.password %></td>
    <td><%= user.admin? %></td>
    <% if current_user and ( current_user.admin? or user.id == current_user.id ) then %>
      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

