<!DOCTYPE html>
<html>
<head>
  <title>Hack Me!  A Ruby on Rails App.</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="content">
    <nav>
      <ul>
        <li><%= link_to_unless_current "Home", root_path %></li>
        <li><%= link_to_unless_current "Artikel", articles_path %></li>
        <li><%= link_to_unless_current "Personen", users_path %></li>
        <li><%= link_to_unless_current "Help", static_pages_help_path %></li>
        <% if current_user %>
        <li style="float:right">  
          Logged in as <%= current_user.name %>
          <%= link_to_unless_current "Log out", log_out_path %>
        </li>  
        <% else %>
        <li style="float:right">  
          <%= link_to_unless_current "Sign up", sign_up_path %> or
          <%= link_to_unless_current "Log in",  log_in_path  %>
        </li>  
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </div>

</body>
</html>
